.imgtrello{
	margin-top: 2%;
	margin-left: 30%;
}

.titulo{
	background-color: #0067A3;
}

.botonPrimero{
	background-color: #0067A3 !important;
	width: 100%;
	height: 50%;
	color: #A9C6D7;
	border-color: transparent;
}

.botonPrimero:hover{
	background-color: #005586;
	color: #ffffff;
	border-color: transparent;
}

.borrar{
    display: none;
}

#textareaLista{
	width: 100%;
	height: 35px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 0px;
}

.botonLista{
	width: 50%;
	height: 35px;
	background-color: #5CB047;
	color: #ffffff;
	font-weight: bold;
	border-color: transparent;
}

.estiloTitulo{
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	font-size: 12px;
	background-color: #E2E4E6;
	font-weight: bold;
}

.textareaAñadirTarjeta{
	background-color: #ffffff;
	width: 100%;
	height: 30px;
	color: #000000;
	margin-left: -2%;
	margin-top: 3%;
	border: #CDD2D4;
	text-align: left;
	border-radius: 5%;
	font-weight: normal!important;
}

.botonTarjeta{
	width: 100%;
	height: 40px;
	background-color: #5CB047;
	color: #ffffff;
	font-weight: bold;
	border-color: transparent;
}

body{
	background-color: #0079BF;
}

.tablero{
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	margin-left: 2px;
	display: inline;
}

.privado{
	display: inline;
	color: #ffffff;
	font-size: 12px;
}

.marginTablero{
	margin-top: 10px;
}

.icon-locked{
	margin-left: 5px;
	margin-right: 5px;
}

.icon-star{
	display: inline;
	font-size: 12px;
	margin-left: 15px;
	margin-right: 15px;
}

.icon-cancel{
	margin-left: 12px;
	color: #E2E4E6;
}

.padR{
	padding-right: 0px;
}