@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vbavma');
  src:  url('fonts/icomoon.eot?vbavma#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vbavma') format('truetype'),
    url('fonts/icomoon.woff?vbavma') format('woff'),
    url('fonts/icomoon.svg?vbavma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-locked:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e906";
}
.icon-alarm:before {
  content: "\e904";
}

